*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
!/src/main/java/com/davidlutta/filamu/todos
!/src/main/java/com/davidlutta/filamu/util/Constants.java